/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    border-bottom: 1px solid rgb(229, 229, 229); 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px; 
    padding-bottom: 22px; 
    max-width: 1050px;
    margin: auto;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

ul.navbar {
    list-style-type: none;
    overflow: hidden;
}

ul.navbar li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: gray; 
    font-weight: 100;
    font-size: 0.85rem;
}

ul.navbar li a:hover {
    color: rgb(0, 115, 204);
}

.main-banner {
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.banner-image {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove extra space below the image */
    margin: 0 auto; /* Center the image within its container */
}

.secondary-container {
    display: flex;
    flex-direction: column;
    gap: 1;
    align-items: center;
    justify-content: center;
}

.p-1 {
    font-size: 3rem;
    color: #424242;
}

.p-2 {
    color: gray;
    font-size: 1.5rem;
    margin-top: -3.2rem;
}

.button-1 {
    padding: 10px 35px;
    background-color: #397dd1;
    font-size: 1.4rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border: none; 

}